body{
    background: linear-gradient(to left, #000000, #808080)
}
p{
    color: greenyellow;
}
h3{
    text-align: center;
    color: #000000;
}
table{
    margin-left: 30%;
}
p{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}
h1{
    text-align: center;
    color: #000000;
}
#vidi{
    text-align: center;
}
h4{
    color: #000000;
}
#link{
    text-align: left;
    padding-top: 20px;
}
img{
    width: 40vw;
}